@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1700462980693') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message-2-line:before {
  content: "\e792";
}

.icon-shoucang:before {
  content: "\e625";
}

.icon-question-circle1:before {
  content: "\e689";
}

.icon-pushpin-fill:before {
  content: "\e68a";
}

.icon-chaxun:before {
  content: "\e61a";
}

.icon-add:before {
  content: "\e633";
}

